@inherits LayoutComponentBase

<div class="page">
    <TopNav />
    <main class="main-content">
        <article class="content">
            @Body
        </article>
    </main>
    <BottomNav />
</div>

