@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>

@* <button class="btn btn-primary"><i class="bi bi-house"></i> Test</button> *@

<br />

<button class="btn btn-primary"><i class="bi bi-alarm" style="font-size: 2rem;"></i></button>